@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .a-spin-ease:hover .animate-this {
    animation: spin 1.5s ease-out infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
